<!-- views/clear.handlebars
     Clear Articles             -->

<div class="card w-100">          <!--Nav bar  -->
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrape">Scrape new Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/savedArts">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/clear">Clear Articles</a>
            </li>
        </ul>
    </div>
</div>
<!-- ============================================================== -->

Clear Articles

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/clear.js"></script>