<!-- views/index.handlebars -->
<!-- Home Page -->   



<div class="card">          <!--Nav bar  -->
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrape">Scrape new Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/savedArticles">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clear">Clear Articles</a>
            </li>
        </ul>
    </div>
</div>
<!-- ============================================================== -->

<div class="topImage">
    <img src="/img/sportNews_bg.jpg" alt="place holder" id="imgBB">
</div>

<!-- -->
<div id="articles"> </div>
<!-- -->
<div class="topBtn">
    <button type="button" class="btn btn-outline-danger badge-pill" id="topBtn"> Top </button>
</div>
<!-- -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

