<!-- views/savedArticles.handlebars
     Saved Articles             -->

<div class="card w-100">          <!--Nav bar  -->
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scrape">Scrape new Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/savedArticles">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clear">Clear Articles</a>
            </li>
        </ul>
    </div>
</div>
<!-- ============================================================== -->

<h1 id="topBtn">Saved Articles</h1>

<!-- -->
<div id="sarticles"> </div>
<!-- -->
<div class="topBtn">
    <button type="button" class="btn btn-primary" id="topBtn"> Top </button>
</div>
<!-- -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/savedArticles.js"></script>